@model IEnumerable<PETUtility.Data.Fundamentals.Models.PETiano>
@using PETUtility.Data.Fundamentals.Localizations;

@{
    ViewBag.Title = "Gerenciar PETiano";
}

<div class="titleName">
    <h2>@Localization.Global.Menu.ManagePETiano</h2>
</div>
<hr />

<div class="centralize">
    <div class="container-fluid">
        @foreach (var petiano in Model)
        {
            <div class="row">
                <div class="form-group col-md-4">
                    <p id="petianoSizeName">@petiano.Login</p>
                </div>
                <div class="form-group col-md-2">
                    <div class="editDeleteButton">
                        <button type="submit" class="button" onclick="location.href='@Url.Action("Edit", "PETiano", new { id = petiano.Id })'"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="submit" class="button" onclick="location.href='@Url.Action("Delete", "PETiano", new { id = petiano.Id })'"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>