@{
    ViewBag.Title = "Home";
}
<div id="logoIndex">
    <img src="~/petLogo.png" />
</div>
<div id="textsIndex">
    <p>
        Esse é o sistema de gerenciamento do PET-informática. Ele foi totalmente desenvolvidos pelos alunos do PET para o PET :]
    </p>
    <p>
        Qualquer dúvida e informação entre em contato com o petcomputacao-l@cin.ufpe.br
    </p>
</div>