@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Locked ou.</h1>
    <h2 class="text-danger">Essa conta foi travada, por favor tente novamente mais tarde</h2>
</hgroup>
